@keyframes get-message {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes out-message {
  0% {
    opacity: unset;
  }
  100% {
    opacity: 0;
  }
}

@keyframes change-prompt {
  0% {
    transform: translateX(-66.66%);
  }
  10% {
    transform: translateX(-33.33%);
  }
  40% {
    transform: translateX(-33.33%);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(33.33%);
  }
  100% {
    transform: translateX(33.33%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: unset;
  }
}

@keyframes fade-prompts {
  0% {
    transform: translateX(33.33%);
  }

  100% {
    transform: translateX(-66.66%);
  }
}

@keyframes get-desktop-prompts {

  0% {
    opacity: 0;
  }
  100% {
    opacity: unset;
  }
}