@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// Flying Balloon

@keyframes flying-balloon {
  0%, 100% {
    transform: translateY(1px) rotate(4deg);
  }

  50% {
    transform: translateY(-1px) rotate(-1deg);
  }
}

@keyframes clouds {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes floating-button {
  0%, 30% {
    transform: translateY(0);
  }
  10% {
      transform: translateY(-3px);
  }
  18% {
      transform: translateY(2px);
  }
}
